@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body{
    width: 80%;
    margin: 0 auto;
    font-family: 'Roboto';
}
header .bloc_logo{
    width: 30%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
header h1{
    color: #D04F4F;
    font-size: 36px;
    font-family: 'DM Sans';
    margin-top: 10px;
}
.recherche_principale{
    display: flex;
    margin: 15px 0;
}
.recherche_principale input,
.recherche_principale button{
    background-color: #E7E7E7;
    border: none;
    color: #000;
}
.recherche_principale input{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 95%;
    padding-left: 15px;
}
.recherche_principale button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
}

.filtres_selectiones, #filtres_precis{
    margin: 15px 0;
    display: flex;
    gap: 15px;
}

#filtres_precis ul{
    column-count: 3;
    column-gap: 5px;
}
#filtres_precis .dropdown-btn{
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-family: 'lato';
    font-weight: 700;
    width: 100%;
}
.dropdown-content{
    display: none;
}
#my-ustensiles{
    background-color: #ED6454;
}
#my-appareils{
    background-color: #68D9A4;
}
#my-ingredients{
    background-color: #3282F7;
}

#section_recettes, .recette_header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.recette_titre{
    width: 80%;
}
.recette_temps{
    width: 20%;
}
.recette_titre h2{
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#section_recettes .recette{
    width: 30%;
    margin: 15px 0;
}
.recette{
    background-color: #E7E7E7;
}
.recette_image{
    height: 178px;
    background-color: #C7BEBE;
}
#section_recettes .recette_infos{
    display: flex;
}
.recette_ingredients, .recette_description{
    width: 50%;
}
#dropdown_ingredients_container{
    background-color: #3282F7;
    color: #fff;
    padding: 15px;
}
#dropdown_ingredients_container input{
    width: 100%;
    border: none;
    color: #fff;
    background-color: #3282F7;
}

#dropdown_appareils_container{
    background-color: #68D9A4;
    color: #fff;
    padding: 15px;
}
#dropdown_appareils_container input{
    width: 100%;
    border: none;
    color: #fff;
    background-color: #68D9A4;
}

#dropdown_ultensiles_container{
    background-color: #ED6454;
    color: #fff;
    padding: 15px;
}
#dropdown_ultensiles_container input{
    width: 100%;
    border: none;
    color: #fff;
    background-color: #ED6454;

}
#filtres_precis li{
    list-style: none;
    color: #fff;
}
.hidden{

    display: none;
}